table {
  border-collapse: collapse;
  width: 33%;
}

td {
  border: 1px solid black;
  text-align: center;
}
.title {
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

td.col {
  height: 5px;
  text-align: left;
  background-color: #e6ffd3;
}

td.col:nth-child(odd) {
  background-color: #d5ffb9;
}