tr {
	margin: 20px;
	border: 1px white;
	background-color: #94cce8;
}

tr:first-child td {
	background-color: #94cce8;
}

td {
	padding: 15px;
}

.Qt {
	color: white;
	text-align: center;
}

.Q {
	padding: 15px;
	width: 60px;
	text-align: center;
	background-color: #cde6f4;
}

.Company {
	width: 150px;
	background-color: #94cce8;
}

.Company {
	color: white;
	font-weight: 900;
}