body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
}

.table {
    width: 700px;
    display: flex;
    flex-direction: column;
    background-color: #d0e7f9;
}

.row {
    display: flex;
}

.header {
    background-color: #94cce8;
    font-weight: bold;
}

.cellCompany{
	color: white;
	background-color: #94cce8;
	flex: 1;
    padding: 10px;
    border: 1px solid white;
    text-align: left;
}

.cellQ {
	flex: 1;
	color: white;
	padding: 10px;
    border: 1px solid white;
    text-align: center;
}

.cell {
    flex: 1;
    padding: 10px;
    border: 1px solid white;
    text-align: center;
}

