#parallelogram {
	width: 160px;
	height: 100px;
	margin-left: 50px; 
	background: #8734f7;
	-webkit-transform: skew(30deg);
	-moz-transform: skew(30deg);
	-ms-transform: skew(30deg);
	-o-transform: skew(30deg);
	transform: skew(30deg);
}